.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 auto;
  padding: 20px 10px;

  gap: 10px;
  width: fit-content;

  background-color: rgba(39, 74, 38, 0.9);
  border-radius: 10px;
  border: solid 1px white;

  font-weight: 600;
  color: azure;

  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
