.wrapper {
  position: relative;

  width: fit-content;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: row;
  gap: 15px;

  // background: radial-gradient(
  //   circle,
  //   rgba(247, 147, 78, 1) 0%,
  //   rgba(253, 187, 72, 1) 100%
  // );

  border-radius: 10px;
  border: outset 3px silver;

  padding: 10px 20px;

  margin-bottom: 20px;

  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: all 0.3 ease;
}
