.background {
  position: absolute;

  display: flex;
  justify-content: flex-end;

  width: 100%;

  top: 20px;
  right: 0;
  bottom: 0;

  transition: all 0.3s ease;

  transform: translate(100%);
}

.background.active {
  transform: translate(0);
}

.wrapper {
  padding: 15px;

  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;

  border-top-left-radius: 10px;

  background-color: rgba(0, 128, 0, 0.8);

  width: 55%;
}
