.loading__wrapper {
  padding: 20px 35px;
  border: 3px solid darkgreen;
  background-color: rgba(144, 238, 144, 0.5);

  border-radius: 10px;
}

.loading__title {
  margin: 0;
  font-size: 30px;
  color: darkslateblue;
}
