body {
  background-image: url(/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
