.cardWrapper {
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: row;
  gap: 15px;
  width: 300px;

  background: rgb(247, 147, 78);
  background: radial-gradient(
    circle,
    rgba(247, 147, 78, 1) 0%,
    rgba(253, 187, 72, 1) 100%
  );

  border-radius: 5px;
  border: outset 3px silver;

  padding: 10px 20px;

  margin-bottom: 20px;

  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.6);

  transition: all 0.3 ease;
}

@media screen and (max-width: 600px) {
  .cardWrapper {
    width: 260px;
  }
}

.cardWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: rotateZ(2deg);

  border: 2px rgb(255, 255, 0) solid;

  background: transparent;

  pointer-events: none;

  transition: all 0.3 ease;
}

.titleWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.contentTitle {
  display: inline-block;
  width: 100px;

  font-weight: 600;
}

.cardWrapper:hover::after {
  transform: rotateZ(-2deg);
  border-color: rgb(247, 147, 78);
}
.cardWrapper:hover {
  background: rgb(169, 159, 50);
  background: radial-gradient(
    circle,
    rgb(251, 255, 0) 0%,
    rgb(196, 199, 0) 100%
  );
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.cardTitle {
  letter-spacing: 2px;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: 20px;

  margin: 0;
}
